* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    margin: 1rem;
    padding: 0.5rem;
}

main img {
    display: block;
    margin: 1rem auto;
    background-color: black;
    animation: fade 5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    text-align: center;
}