* {
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
}

:root {
    --primary-color: rgb(235, 235, 235);
    --secondary-color: #2a343c;
    --accent-color-1: #457604;
    --accent-color-2: #005c7a;
}

#businessCards a,
#businessCards p,
header h1 {
    text-align: left;
}

.navigation a,
header h1,
main h2 {
    color: var(--secondary-color);
}

.menu::before {
    content: "☰";
    padding: 0.1rem;
}

#businessCards section,
#membersDisply,
#pageMessage,
#six-pictures,
#spotlights,
.connections,
.hero a,
.menu,
.standard-header,
header h1 {
    padding: 1rem;
}

.menu {
    background: none;
    border: none;
}

#viewToggle button,
.menu {
    cursor: pointer;
}

.menu.open::before {
    content: 'x';
    padding: 0.2rem;
}

.navigation {
    list-style-type: none;
    display: none;
}

#businessCards a,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
.navigation a {
    text-decoration: none;
}

#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
.navigation a {
    padding: 0.75rem;
}

#businessCards a,
#joinForm fieldset,
#joinForm label,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#pageMessage,
.hero img,
.navigation a,
.navigation.open {
    display: block;
}

.navigation a:hover {
    border: solid 2px var(--accent-color-2);
}

#forecast p,
#pageMessage,
#weather h2 + p,
.active {
    text-decoration: underline;
    text-decoration-color: var(--accent-color-1);
    text-underline-offset: 4px;
}

.hero {
    position: relative;
}

#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#membersDisplay img,
#six-pictures img,
.hero img {
    width: 100%;
    height: auto;
}

#forecast section,
#weather,
.cards {
    min-width: 0;
}

#membersDisplay img {
    max-width: 100px;
}

.hero a {
    position: absolute;
    background-color: var(--accent-color-2);
    color: white;
    text-decoration: none;
    bottom: 4%;
    right: 3%;
}

#forecast,
#membersDisplay,
#weather p,
.list {
    display: flex;
    align-items: center;
}

#membersDisplay,
.list {
    flex-direction: column;
    justify-content: space-around;
}

#weather p {
    justify-content: center;
}

#weather span {
    margin: 0 0.25rem;
}

#membersDisplay figure,
.list section {
    max-width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: normal;
}

.grid section {
    max-width: none;
}

#businessCards,
#forecast,
#viewToggle {
    gap: 1rem;
}

#viewToggle {
    justify-content: center;
    margin: 2rem 0;
}

#businessCards section,
#viewToggle button {
    box-shadow: 1px 1px 6px var(--secondary-color);
}

#events,
#sidebar section,
#weather {
    margin-top: 1rem;
    padding: 0 1rem;
}

#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#weather {
    background-color: var(--primary-color);
    resize: none;
}

#businessCards,
#forecast section,
#membersDisplay,
#pageMessage,
#viewToggle,
#weather p,
#thanksMessage,
.navigation a,
figcaption,
footer {
    text-align: center;
}


main h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

#joinForm {
    max-width: 60rem;
}

#joinForm fieldset{
    margin: 2rem 1rem 0;
    padding: 0 1rem 1rem;
    border: 1px solid #cbcbcd;
}

#joinForm fieldset,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#joinForm input[type='submit'],
.hero a {
    border-radius: 1rem;
}

#joinForm legend {
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#joinForm .astrisk {
    color: maroon;
}

#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#joinForm input[type='submit'] {
    max-width: 400px;
    border: 1px solid var(--secondary-color);
}

#joinForm label,
#joinForm div,
#membership-info {
    margin-top: 1.5rem;
}

#membership-info {
    font-size: 0.75rem;
}

#joinForm div {
    font-size: 1.25rem;
}

#joinForm .level-radio {
    padding-top: 0.5rem;
    margin-top: 0;
}

#joinForm input[type='radio'] {
    margin-right: 5px;
}

#joinForm input[type='submit'] {
    background-color: var(--accent-color-1);
    color: white;
    border: none;
    margin: 2rem 2rem 1rem 2.1rem;
    width: 82%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 4px var(--secondary-color);
}

#businessCards a,
#joinForm legend,
#joinForm div,
main h3 {
    color: var(--accent-color-2);
}

#forecast section,
#joinForm input[type='submit'],
#six-pictures figcaption,
.cards p,
.discover-content p,
footer {
    padding: 0.5rem;
}

#thanksMessage {
    padding: 0 2rem 2rem 2rem;
}

#businessCards,
#businessCards img,
#forecast section,
#membersDisplay img,
#membersDisplay figure,
#thanksMessage {
    margin: 1rem;
}

.connections {
    margin-bottom: 2rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}