* {
    font-family: "Yantramanav", sans-serif;
    font-weight: 300;
}

:root {
    --primary-color: rgb(235, 235, 235);
    --secondary-color: #2a343c;
    --accent-color-1: #457604;
    --accent-color-2: #005c7a;
}

header h1,
#businessCards p,
#businessCards a {
    text-align: left;
}

header h1,
.navigation a,
main h2 {
    color: var(--secondary-color);
}

#menu::before {
    content: "☰";
    padding: 0.1rem;
}

header h1,
#menu,
#d-header,
#join-h,
#pageMessage,
.hero a,
#businessCards section,
#six-pictures,
.connections {
    padding: 1rem;
}

#menu {
    background: none;
    border: none;
}

#menu,
#viewToggle button {
    cursor: pointer;
}

#menu.open::before {
    content: 'x';
    padding: 0.2rem;
}

.navigation {
    list-style-type: none;
    display: none;
}

.navigation a,
#businessCards a,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea {
    text-decoration: none;
}

.navigation a,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea {
    padding: 0.75rem;
}

.navigation a,
.navigation.open,
.hero img,
#spotlights img,
#businessCards a,
#pageMessage,
#joinForm fieldset,
#joinForm label,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea {
    display: block;
}

.navigation a:hover {
    border: solid 2px var(--accent-color-2);
}

.active, #pageMessage {
    text-decoration: underline;
    text-decoration-color: var(--accent-color-1);
    text-underline-offset: 4px;
}

.hero {
    position: relative;
}

.hero img,
#six-pictures img,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea {
    width: 100%;
    height: auto;
}

.hero a {
    position: absolute;
    background-color: var(--accent-color-2);
    color: white;
    text-decoration: none;
    bottom: 4%;
    right: 3%;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.list section{
    max-width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: normal;
}

.grid section {
    max-width: none;
}

#businessCards,
#viewToggle {
    gap: 1rem;
}

#viewToggle {
    justify-content: center;
    margin: 2rem 0;
}

#viewToggle button,
#businessCards section {
    box-shadow: 1px 1px 6px var(--secondary-color);
}

#events,
#weather,
#spotlights,
#sidebar section {
    margin-top: 1rem;
    padding: 0 1rem;
}

#weather,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea {
    background-color: var(--primary-color);
    resize: none;
}

.navigation a,
#spotlights h2,
#viewToggle,
#businessCards,
#pageMessage,
#six-pictures figcaption,
#weather,
#thanksMessage,
footer {
    text-align: center;
}


main h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

#join-h {
    margin-bottom: -1rem;
}

#joinForm {
    max-width: 60rem;
}

#joinForm fieldset{
    margin: 2rem 1rem 0;
    padding: 0 1rem 1rem;
    border: 1px solid #cbcbcd;
}

.hero a,
#joinForm fieldset,
#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#joinForm input[type='submit'] {
    border-radius: 1rem;
}

#joinForm legend {
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#joinForm .astrisk {
    color: maroon;
}

#joinForm input[type='text'],
#joinForm input[type='email'],
#joinForm input[type='tel'],
#joinForm textarea,
#joinForm input[type='submit'] {
    max-width: 400px;
    border: 1px solid var(--secondary-color);
}

#membership-info,
#joinForm label,
#joinForm div {
    margin-top: 1.5rem;
}

#membership-info {
    font-size: 0.75rem;
}

#joinForm div {
    font-size: 1.25rem;
}

#joinForm .level-radio {
    padding-top: 0.5rem;
    margin-top: 0;
}

#joinForm input[type='radio'] {
    margin-right: 5px;
}

#joinForm input[type='submit'] {
    background-color: var(--accent-color-1);
    color: white;
    border: none;
    margin: 2rem 2rem 1rem 2.1rem;
    width: 82%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 4px var(--secondary-color);
}

main h3,
#joinForm legend,
#joinForm div,
#businessCards a {
    color: var(--accent-color-2);
}

#joinForm input[type='submit'],
.cards p,
.discover-content p,
#six-pictures figcaption,
footer {
    padding: 0.5rem;
}

#thanksMessage {
    padding: 2rem;
}

#businessCards,
#businessCards img,
#spotlights img,
#thanksMessage {
    margin: 1rem;
}

.connections {
    margin-bottom: 2rem;
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}