@media (min-width: 37rem) {
    #dropdown-button {
        display: none;
    }

    nav ul, .dropdown-menu, .dropdown-menu.open {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
    }

    nav li {
        display: block;
        flex: 1 1 100%;
    }

    h1 {
        margin: 1rem 2rem;
    }

    div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        margin: 1rem 2rem;
    }

    .card {
        box-shadow: 1px 1px 10px black;
    }
}